{% set oCaptcha = oView.getCaptcha() %}
{% block body %}
    {% block style %}
        <style>
            .oecaptcha {padding: 0 .75rem;}
            .oecaptcha-group {display: flex; align-items: center; gap: 2ch;}
            .oecaptcha-container {display: grid; place-items: center;}
        </style>
    {% endblock %}
    
    {% block hidden %}
        <input type="hidden" name="c_mach" value="{{ oCaptcha.getHash() }}" />
    {% endblock %}
    
    {% block form_group %}
    <div class="form-group verify oecaptcha mb-3">
        {% block label %}
            <label class="req control-label col-lg-2" for="c_mac">{{ translate({ ident: "VERIFICATION_CODE" }) }}</label>
        {% endblock %}

        {% block input_control %}
            <div class="col-lg-10 controls oecaptcha-group-container">
                {% block input_group %}
                    <div class="input-group oecaptcha-group">
                        {% block image_group %}
                            <span class="input-group-addon oecaptcha-container">
                                {% if oCaptcha.isImageVisible() %}
                                    {% block image_visible %}
                                        <img src="{{ oCaptcha.getImageUrl() }}" alt="">
                                    {% endblock %}
                                {% else %}
                                    {% block image_hidden %}
                                        <span class="verificationCode" id="verifyTextCode">{{ oCaptcha.getText() }}</span>
                                    {% endblock %}
                                {% endif %}
                            </span>
                        {% endblock %}

                        {% block input %}
                            <input type="text" data-fieldsize="verify" name="c_mac" value="" placeholder="{{ translate({ ident: "OECAPTCHA_PLACEHOLDER" }) }}"
                                class="form-control js-oxValidate js-oxValidate_notEmpty" required>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% endblock %}
{% endblock %}